.MainBox{
    position: "sticky";
    display: "flex";
    height: "100vh";
    // background-color: red;
    top: 0;
    bottom: 0;
    z-index: 10000;
    
    &.menu-icon {
    background-color: transparent !important;
    }
    &.menu-item {
    // padding: "5px 35px 5px 20px !important",
    background-color: transparent !important;
    }
    &.menu-anchor {
    color: "inherit !important";
    background-color: transparent !important;
    }
    &.menu-item:hover {
    color: #6870fa !important;
    background-color: transparent !important;
    }
    & .menu-item.active {
    color: #4cceac !important;
    background-color: transparent !important;
    }
}

// MenuItem:hover{
//     color: #6870fa !important;
//     background-color: transparent !important;
        
// }